:root {
	--off-black: rgb(0, 0, 0);
	--dark-grey: rgb(57, 55, 66);
	--middle-grey: rgb(91, 91, 110);
	--light-grey: rgb(167, 176, 187);
	--off-white: rgb(220, 232, 233);
	--accent-light: rgb(218, 210, 165);
	--accent-dark: rgb(45, 13, 48);

	--dark-icon-on: url(./images/dark-mode-on.svg);
	--dark-icon-off: url(./images/dark-mode.svg);
}

.light {
	--background: var(--off-white);
	--window-bg: var(--light-grey);
	--text: var(--dark-grey);
	--button-bg: var(--accent-light);
	--button-text: var(--dark-grey);
	--score-bg: var(--off-white);
	--score-text: var(--dark-grey);
	--shadow: var(--off-black);
	--dark-mode-icon: var(--dark-icon-off);
}

.dark {
	--background: var(--dark-grey); 
	--window-bg: var(--middle-grey);
	--text: var(--light-grey);
	--button-bg: var(--accent-dark);
	--button-text: var(--light-grey);
	--score-bg: var(--dark-grey);
	--score-text: var(--light-grey);
	--shadow: var(--off-black);
	--dark-mode-icon: var(--dark-icon-on);
}

body {
	margin: 0;
	padding: 0;
	background: var(--background);
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: Roboto, sans-serif;
	transition: color 1s, background-color 1s;
}

#app-area {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	font-family: Roboto, sans-serif;
	gap: 16px;
}

#play-area {
	padding: 25px;
	margin: 40px 0px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;

	background: var(--window-bg);
	border-radius: 10px;
	box-shadow: 4px 4px 4px var(--shadow);;


	flex: 1;
	min-width: 480px;
	max-width: 480px;

	transition: color 1s, background-color 1s;
}

#status-container {
	flex: 1;
	display: flex;
	min-height: 3em;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

#status {
	flex: 1;
	display: flex;
	color: var(--text);;
	text-align: center;
	font-size: 20px;
	transition: color 1s, background-color 1s;
}

#scores {
	flex: 1;
	display: flex;
	gap: 16px;
}

#options {
	flex: 1;
	display: flex;
	justify-content: center;
	gap: 16px;
}

.button-container {
	flex: 0 0 auto;
	height: 96px;
   	aspect-ratio: 1 / 1;
}

#options button {
	height: 100%;
	width: 100%;
	color: var(--button-text);
	background: var(--button-bg);;
	border: none;
	border-radius: 8px;
	transition: all 0.1s linear;
	font-weight: 1000;
	font-size: 16px;
}

.button-container:hover button {
	/*background-color: #226F54;*/
	box-shadow: 4px 4px var(--shadow);
	transform: translate(-4px, -4px);
}

.button-container:active:hover button {
	box-shadow: none;
	transform: translate(0px, 0px);
}

.score-container {
	flex: 1;
	display: flex;
	gap: 16px;
	color: var(--score-text);
	font-size: 32px;
	background: var(--score-bg);
	padding: 12px;
	border-radius: 8px;
	transition: color 1s, background-color 1s;
}

.score-container .score-name {
	flex: 1;
	font-size: 32px;

	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: flex-start;
}

#widgets {
	flex: 1;
	align-self: flex-start;
	padding: 40px 0px;
}

.widget {
	flex: 1;
	height: 48px;
	aspect-ratio: 1 / 1;
	background-color: var(--window-bg);
	border-radius: 10px;
	box-shadow: 4px 4px 4px var(--shadow);;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: transform 0.1s, box-shadow 0.1s, background-color 0.25s, color 1s;
}

.widget button {
	border: none;
	background-color: transparent;
	color: var(--button-text);
	transition: color 1s, background-color 1s;
}

.widget:hover {
	background-color: var(--button-bg);
}

.widget:active {
	transform: translate(4px, 4px);
	box-shadow: 0px 0px;
}

#dark-mode {
	min-height: 40px;
	max-height: 40px;
	aspect-ratio: 1 / 1;
	background-image: var(--dark-mode-icon);
}